.query-button-group {
    float: left;
    margin: 0 15px;
}

.query-button-date-size {
    width: 280px;
}

.query-button-hour-size {

}

hr {  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #337ab7;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}