.selected_menu {
    background-color: #e7e7e7;
}

.hidden-self {
    visibility: hidden;
}

.no-display {
    display: none;
}

.toggle.radius, .toggle-on.radius, .toggle-off.radius {
    border-radius: 20px;
}

.toggle.radius .toggle-handle {
    border-radius: 20px;
}

.row_center {
    display: flex;
    justify-content: center;
}