<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="static/css/nav/index.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">广告引擎后台</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">数据统计<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="nav_hive_ref_a">hive统计</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="disabled"><a href="#">redis统计</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="#" id="nav_user_ref_a">系统管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="login_user" href="#">{{ user_name }}</a></li>
                <li><a id="logout_user" href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="container-fluid">
                    <div class="row">
                        <div id="left_frame_col" class="col-xs-2" style="background-color: #f6f6f6">
                            <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                            </ul>
                        </div>
                        <div id="right_frame_col" class="col-xs-10">
                            <iframe id="right_frame" frameBorder="0" height="100%" width="100%"
                                    src="{{ iframe_src }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/nav/public/public.js"></script>
<script src="static/js/nav/hive/hive_index.js"></script>
<script src="static/js/nav/index.js"></script>
</body>
</html>